@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


body {
    overflow: hidden;
    height:1080px;
    width:100%;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.959);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font  */
    font-size: 2.5em;
    color: white;
    text-align: center !important;
}